$drop-shadow: 0px 4px 4px 0px #00000040;
$main-color: #F16D7F;
$bg-color-white: #FFFFFF;
$bg-color-black: #000000;
$menu-color: #6F6E6E;
$shop-width-sum: 275px;
$box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);