@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Переменные */

@import "../style/_var";

/* Миксины */

@import "../style/_mixins";

/* Общие */

@import "blocks/_general";

/* Шапка сайта */

@import "blocks/_header";

/* Блок с мужиком и главным заголовком */

@import "blocks/_promo";

/* Блок с категориями товаров */

@import "blocks/_categories";

/* Товары */

@import "blocks/_products";

/* Пагинация */

@import "blocks/_pagination";

/* Цитата и форма обратной связи */

@import "blocks/_feedback";

/* Подвал */

@import "blocks/_footer";

/* Страница "Каталог товаров" */

/*Блок с поступлениями */

@import "blocks/_arrivals";

/* Блок с каталогом товаров */

.products-filter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 64px;
    margin-top: 51px;
}
.title-filter {
    padding-left: 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.title-filter:hover {
    color: #EF5B70;
    fill: #EF5B70;
}
.filter-list ul {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    list-style-type: none;
    gap: 29px;
    padding-right: 441px;
}
.filter-list-item {
    text-decoration: none;
    color: #6F6E6E;
    font-size: 14px;
    line-height: 17px;
}
.filter-check {
    padding-left: 10px;
    padding-bottom: 3px;
}
.title-filter {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}
.filter-svg {
    margin-left: 11px;
}

/*---- Страница регистрации ---- */

/* Блок с заголовком */

.registration {
    background-color: #F8F3F4;
}
.reg-title {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    font-weight: 400;
    margin: 60px 0;
}
 /* Блок с регистрацией и описанием */

@import "blocks/_registration";

/*--- Страница с продуктом --- */

/* Карусель с девушкой */

@import "blocks/_carousel";

/* описание и покупка товара */

@import "blocks/_desc";

/*--- Страница "Shopping cart" --- */

@import "blocks/_shoping-cart";